<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ALL">
	<Appenders>		
	   <File name="ArquivoLog" fileName="logs/TesteAutomatizado.log" >
	      <PatternLayout>
	        <Pattern>%d{dd-MM-yyyy HH:mm:ss} - %p - %c{1.}: %m%n</Pattern>
	      </PatternLayout>
	    </File>	
		<Console name="Console" target="SYSTEM_OUT" >
			<PatternLayout pattern="**********************************%n%d{dd-MM-yyyy HH:mm:ss} - %p - %c{1.}: %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="ALL">
			<AppenderRef ref="Console" />
			<AppenderRef ref="ArquivoLog" />
		</Root>
	</Loggers>
</Configuration>